torch>=2.0.0
torchvision
torchaudio
einops
omegaconf
ftfy
regex
tqdm
pytorch-lightning==1.9.5
accelerate==0.21.0
safetensors
opencv-python
scikit-image
reedsolo
numpy
pandas
Pillow
matplotlib
piq
pyiqa==0.1.16
